Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.local
.env.production.local
.env.staging.local
.git
.gitignore
.next
.turbo
.vscode
.husky
packages/infra
packages/cdk-*
.github/workflows/codeql.yml
