{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb/hooks"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/prop-types": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "no-new": 0,
    "no-new-func": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "battlecry/**/*",
          "src/**/*.stories.tsx",
          "cdk/**/*",
          "webpack.config.ts"
        ]
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".tsx"
        ]
      }
    ],
    "max-len": [
      "error", {
        "code": 120
      }
    ],
    "jsx-a11y/label-has-associated-control": [2, {
      "controlComponents": ["DatePicker"]
    }]
  }
}
