node_modules
.env
.turbo

.envrc

.pi/tasks
.pi/*.jsonl

# package build output
/packages/*/dist
/apps/cockpit-daemon/dist

# generated custom-server output
/apps/web/custom-server.js
/apps/web/src/**/*.js
